:root {
    --card-size : 150px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
}

.game-area.memory {
    height: calc( var( --card-size ) * 3);
    width: calc( var( --card-size ) * 4) ;
    margin-right: 20px;
    position: relative;
}

.card-memory {
    width: var(--card-size);
    height: var(--card-size);
    background-image: url('./img/back.png');
    background-size: contain;
}

.alien {
    background-image: url('./img/alien.png');
}

.bug {
    background-image: url('./img/bug.png');
}

.duck {
    background-image: url('./img/duck.png');
}

.rocket {
    background-image: url('./img/rocket.png');
}

.spaceship {
    background-image: url('./img/spaceship.png');
}

.tiktac {
    background-image: url('./img/tiktac.png');
}