#grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-area.tris {
    width: calc(100% / 2 - 10px);
    height: 500px;
    margin-right: 20px;
    position: relative;
    /* border: 1px solid white; */
}

.cell {
    height: calc(100% / 3 - 10px);
    width: calc( 100% / 3 - 10px);
    margin: 5px;
    border: 5px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
}

